/* agregué variables, usalas porfi. es para si un futuro queremos cambiar algo, va a ser mas facil  */
.header {
	display: flex;
	position: sticky;
	top: 0;
	z-index: 20;
	padding: 8px 0;
	width: 100%;
	background-color: #fff;
	height: var(--header-height);
	color: var(--gray-header);
}
.navList{
	box-sizing: border-box;
	width: 40%;
}

.navList .navList-ctn{
	height: 100%;
	display: flex;
	justify-content: space-around;
	margin: 0 100px;
	align-items: center;
}

.navList .navList-ctn .navList-item{
	position:relative;
	cursor: pointer;
	padding: 15px 15px;
}

.navList .navList-ctn .navList-item:hover ul{
	visibility: visible;
}

.navList .navList-ctn .navList-item .navList-submenu{
	position: absolute;
	width: 175px;
	top: 50px;
	left: -1px;
	padding: 4px 10px;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	background-color: white;
	border-radius: 10px;
}

.navList .navList-ctn .navList-item .navList-submenu li{
	width: 100%;
	padding: 10px 10px;
	text-align: left;
}

.navList .navList-ctn .navList-item .navList-submenu li:hover{
	color: #00000095;
}

/* lo puse en un contenedor porque en el reset de css las img tienen q tener 100% width. buenas practicas:) */
.navLogo {
	display: flex;
	width: 60%;
	padding-left: 100px;
}

.navLogo .navLogo-ctn {
	display: flex;
}

.navLogo .navLogo-img-ctn {
	width: 50px;
	height: 50px;
}

.navLogo .navLogo-h1-ctn {
	width: 60%;
	font-size: 9px;
	padding: 0px 10px 0px 10px;
}
