.header {
	display: flex;
	position: sticky;
	justify-content: space-between;
	top: 0;
	z-index: 20;
	padding: 8px 100px;
	width: 100%;
	background-color: #fff;
	height: var(--header-height);
	color: var(--gray);
	box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
}

.navList .navList-ctn {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navList .navList-ctn .navList-item {
	position: relative;
	cursor: pointer;
	padding: 15px 15px;
	color: var(--gray);
	font-weight: 500;
}

.navList .navList-ctn .navList-item:hover {
	color: var(--gray-third);
}

.navList .navList-ctn .navList-item:hover ul {
	visibility: visible;
}

.navList .navList-ctn .navList-item .navList-submenu {
	position: absolute;
	width: 175px;
	top: 50px;
	left: -1px;
	padding: 4px 10px;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	background-color: white;
	border-radius: 10px;
}

.navList .navList-ctn .navList-item .navList-submenu .navList-subItem {
	color: var(--gray);
	width: 100%;
	padding: 10px 10px;
	text-align: left;
	font-weight: 500;
}

.navList .navList-ctn .navList-item .navList-submenu .navList-subItem:hover {
	color: var(--gray-third);
}
.navList-submenu hr {
	background-color: #e5e8eb;
	height: 0.5px;
	border: none;
}

.navLogo {
	display: flex;
}

.navLogo .navLogo-ctn {
	display: flex;
	align-items: center;
}

.navLogo .navLogo-img-ctn {
	width: 50px;
	height: 50px;
}

.navLogo .navLogo-h2-ctn {
	width: 60%;
	font-size: 11px;
	padding: 0px 10px 0px 10px;
}
