/* agregué variables, usalas porfi. es para si un futuro queremos cambiar algo, va a ser mas facil  */
.header {
	display: flex;
	position: sticky;
	top: 0;
	z-index: 20;
	padding: 8px 0;
	width: 100%;
	background-color: #fff;
	height: var(--header-height);
	color: var(--gray);
	box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
}

.navBar {
	padding-right: 90px;
	width: 40%;
	display: flex;
}

.navBar .navLinks-ctn {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.navBar .navLinks-ctn li {
	display: flex;
	padding: 5px 10px 5px 10px;
	align-items: center;
}

.navBar .navLinks-ctn .navLinks {
	color: inherit;
	font-weight: 500;
}

/* lo puse en un contenedor porque en el reset de css las img tienen q tener 100% width. buenas practicas:) */
.navLogo {
	display: flex;
	width: 60%;
	padding-left: 100px;
}

.navLogo .navLogo-ctn {
	display: flex;
	align-items: center;
}

.navLogo .navLogo-img-ctn {
	width: 50px;
	height: 50px;
}

.navLogo .navLogo-h2-ctn {
	width: 60%;
	font-size: 11px;
	padding: 0px 10px 0px 10px;
}
