/* font */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700&display=swap');

/* reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style: none;
}
a {
	color: inherit;
}
/* variables */
:root {
	scroll-behavior: smooth;
	--header-height: 50%;
	--main-font: 'Encode Sans', sans-serif;
	--white-font: #fff;
	--gray-header: #333333;
	--gray-text: #707a83;
	--gray-secondary: #8b9394;
	--btn-blue: #2081e2;
	--btn-blue-hover: #2e8eee;
	--titles-color: #04111d;
	--blue-footer: #1868b7;
	--skyblue: #f3fbfe;
	--section-p: 80px;
}
body {
	font-family: var(--main-font);
	overflow-x: hidden;
}
